* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ! Creato clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.margin-auto {
    margin: 0 auto;
}

.width-jumbo {
    width: 90%;
}

.width-main {
    width: 80%;
}

.btn-blue {
    border-style: none;
    padding: 7px 20px;
    background-color: #0061ff;
    color: #ffffff;
}

.btn-big {
    font-size: 1.1rem;
}

.bg-lightblue {
    background-color: #b4d0e7;
}

a:visited {
    color: #0061ff;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.2rem;
}


/* HEADER */
/* Container Navbar */
.container-navbar {
    width: 100%;
    line-height: 50px;
    padding: 15px 25px;
}

.container-navbar ul li {
    list-style: none;
    display: inline;
    margin: 0 20px;
    vertical-align: middle;
}

.logo-container img {
    margin-right: 50px;
    vertical-align: middle;
}

.button-container button {
    margin-left: 20px;
}


/* Container Jumbotron */
.title-jumbo {
    padding-top: 70px;
    padding-bottom: 50px;
}

.text-jumbo {
    width: 30%;
    margin-right: 10%;
    padding-bottom: 10%;
}

.text-jumbo p {
    margin-bottom: 30px;
}

.text-jumbo button {
    margin-bottom: 10px;
}

.text-jumbo .fas {
    font-size: 2.5rem;
}

.img-jumbo {
    width: 50%;
    position: relative;
}

.img-jumbo img {
    width: 100%;
    position: absolute;
}



/* MAIN */
main {
    margin-top: 400px;
}
/* Container Plan Dropbox Business */
.section-title {
    margin-bottom: 50px;
}

.radio {
    margin-bottom: 50px;
}

.input-radio {
    margin-right: 20px;
}

.subscription-card-container {
    text-align: center;
}

.subscription-card {
    width: 27%;
    margin-right: 50px;
}

.card-target {
    padding: 10px 0px;
    border: 1px solid #E4E4E4;
}

.card-target .fa-user {
    margin-right: 5px;
}

.card-desc {
    padding: 30px;
    border: 1px solid #E4E4E4;
}

.card-desc h2 {
    margin-bottom: 20px;
}

.price {
    font-weight: 700;
}

.price span {
    font-weight: 500;
    color: #6f7d8b;
    margin-top: 10px;
    margin-bottom: 50px;
}

.card-desc p {
    margin-bottom: 20px;
}

.card-desc button {
    width: 95%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.underline {
    border-top: 1px solid #E4E4E4;
    width: 20%;
    margin-bottom: 50px;
}

.card-desc h3 {
    margin-bottom: 20px;
}

.card-desc ul{
    list-style: none;
}

.card-desc ul li {
    padding: 10px;
}

.card-desc .fa-check {
    color: #0061ff;
}


/* Container Partner*/
.container-partner {

}


/* Container Business Explain*/
.container-business-explain {

}


/* Container Team Che Utilizzano Dropbox*/
.container-team {

}


/* Container FAQ Domande Frequenti*/
.container-faq {

}



/* FOOTER */
/* Top Part Footer */
.top-footer {

}


/* Bottom Part Footer */
.bottom-footer {

}