* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Open Sans', sans-serif;
}

/* ! Creato clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.margin-auto {
    margin: 0 auto;
}

.width-jumbo {
    width: 90%;
}

.width-main {
    width: 80%;
}

.btn-blue {
    border-style: none;
    padding: 7px 20px;
    background-color: #0061ff;
    color: #ffffff;
}

.btn-blue:hover {
    filter: invert(100%);
    box-shadow: 2px 2px 3px #f5f5f5;
}

.btn-big {
    font-size: 1.1rem;
}

.bg-lightblue {
    background-color: #b4d0e7;
}

.bg-lightgray {
    background-color: #f5f5f5;
}

.bg-white {
    background-color: #ffffff;
}

a:visited {
    color: #0061ff;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 25px;
}

h3 {
    font-size: 1.3rem;
    margin-bottom: 20px;
}


/* HEADER */
/* Container Navbar */
.container-navbar {
    width: 100%;
    line-height: 50px;
    padding: 15px 25px;
    z-index: 5;
}

.container-navbar ul li {
    list-style: none;
    display: inline;
    margin: 0 20px;
    vertical-align: middle;
}

.logo-container img {
    margin-right: 50px;
    vertical-align: middle;
}

/* BONUS 2 */
.button-container button {
    margin-left: 20px;
}

.dropdown-support:hover #ul-block-dropdown {
    display: block;
}

#ul-block-dropdown:hover {
    display: block;
}

#ul-block-dropdown {
    display: none;
}

#ul-block-dropdown li {
    display: block;
}
/* FINE BONUS 2 */

/* BONUS 3 */
.container-navbar li:hover {
    border-bottom: 2px solid #000000;
    padding-bottom: 28px;
}
/* FINE BONUS 3 */



/* Container Jumbotron */
.container-jumbotron {
    padding-top: 100px;
}

.title-jumbo {
    padding-top: 70px;
    padding-bottom: 50px;
}

.text-jumbo {
    width: 30%;
    margin-right: 10%;
    padding-bottom: 10%;
}

.text-jumbo p {
    margin-bottom: 30px;
}

.text-jumbo button {
    margin-bottom: 10px;
}

.text-jumbo .fas {
    font-size: 2.5rem;
}

.img-jumbo {
    width: 50%;
    position: relative;
}

.img-jumbo img {
    width: 100%;
    position: absolute;
}



/* MAIN */
main {
    margin-top: 400px;
}
/* Container Plan Dropbox Business */
.section-title {
    margin-bottom: 50px;
}

.radio {
    margin-bottom: 50px;
}

.input-radio {
    margin-right: 20px;
}

.subscription-card-container {
    min-width: 1000px;
}

.subscription-card {
    width: calc((100% / 3) - 47px);
    min-width: 330px;
    height: 70%;
}

.card-target {
    padding: 10px 0px;
    border: 1px solid #E4E4E4;
    text-align: center;
}

.middle-subscription-card {
    margin: 0 70px;
}

.card-target .far {
    margin-right: 5px;
}

.card-desc {
    padding: 7%;
    border: 1px solid #E4E4E4;
    height: 1200px;
}

.price {
    font-weight: 700;
}

.price span {
    font-weight: 500;
    color: #6f7d8b;
    margin-top: 10px;
    margin-bottom: 50px;
}

.card-desc p {
    margin-bottom: 20px;
}

.card-desc button {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.underline {
    border-top: 1px solid #E4E4E4;
    width: 20%;
    margin-bottom: 50px;
}

.card-desc ul{
    list-style: none;
    margin-bottom: 150px;
}

.card-desc ul li {
    padding: 10px;
}

.card-desc .fa-check {
    color: #0061ff;
}

.full-card {
    margin-top: 50px;
    width: 100%;
}

.full-card .card-desc {
    padding: 2%;
}

.card-desc-full-height {
    height: 400px;
}

.card-desc-full {
    width: 80%;
}

.card-desc-full-button  {
    width: 19%;
    vertical-align: top;
}

.card-desc-full-button button {
    margin: 0;
}


/* Container Partner*/
.container-partner {
    margin-top: 300px;
}

.image-container {
    width: 60%;
}

.image-container img {
    width: 100%;
    padding-right: 50px;
}

.text-container {
    margin-top: 50px;
    width: 40%;
}

.text-container p {
    margin-bottom: 20px;
}

.btn-partner {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}


/* Container Business Explain*/
.container-business-explain {
    margin-top: 100px;
}

.row-business-expl {
    width: 100%;
}

.business-expl-card {
    width: calc((100% / 3) - 57px);;
}

.business-expl-card img {
    width: 100%;
}

.middle-card {
    margin: 0 80px
}


/* Container Team Che Utilizzano Dropbox*/
.container-team {
    margin-top: 200px;
}

.main-team {
    margin-top: 50px;
    width: 100%;
    height: 40vh;
}

.image-team-container {
    width: 30%;
    height: 100%;
}

.img-team {
    width: 50%;
    height: 50%;
}

.img-team img {
    max-width: 50%;
    max-height: 50%;
    filter: invert(100%);
}

.full-size {
    width: 100%;
    height: 100%;
}

.padding-color {
    border: 10px solid #d0e9cd;
}

.img-center-div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Specifiche per bg-color a seconda della img */
#img-designit {
    background-color: #a2d39b;
}

#img-asu {
    background-color: #61082b;
}

#img-uf {
    background-color: #0093ce;
}

#img-topps {
    background-color: #ff1c1c;
}


#img-wb {
    background-color: #d5001f;
}

#img-hearst{
    background-color: #b4d0e7;
}


#img-lonely {
    background-color: #0d2481;
}


#img-clear-ch {
    background-color: #ffd830;
}



.team-desc-container {
    height: 100%;
    width: 40%;
}

.team-desc {
    padding: 5%;
}

.team-desc img {
    width: 20%;
}

.team-desc .underline {
    margin-top: 20px;
    width: 6%;
}

.team-desc p {
    margin-bottom: 40px;
}

/* Container Business Agency */

.under-team-container {
    padding: 6% 0;
}

.under-team-container h2 {
    color: #61082b;
}

.under-team-container button {
    vertical-align: middle;
    border-style: none;
    padding: 10px 70px;
}


/* Container FAQ Domande Frequenti*/
.container-faq {
    margin-top: 150px;
}

.border-top-gray {
    border-top: 1px solid #e4e4e4;
}

.border-bottom-gray {
    border-bottom: 1px solid #e4e4e4;
}

.container-faq h2{
    padding-bottom: 50px;
}

.question-faq h3, .question-faq i{
    padding: 40px 0;
    margin-bottom: 0;
}



/* FOOTER */
footer {
    margin-top: 200px;
    background-color: #000000;
}

/* Top Part Footer */
.top-footer {
    padding-top: 100px;
    margin-bottom: 100px;
}

.top-footer ul{
    color: #ffffff;
    list-style: none;
}

.padding-ul-left {
    padding-left: 15%;
}

.padding-ul-right {
    padding-right: 15%;
}

.padding-ul-center {
    padding: 0 15%;
}

.top-footer ul li {
    padding-bottom: 10px;
}


footer .underline {
    margin-bottom: 0;
    width: 5%;
}
/* Bottom Part Footer */
.bottom-footer {
    padding: 50px 0;
}

.bottom-footer span {
    filter: invert(70%);
}