* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ! Creato clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.margin-auto {
    margin: 0 auto;
}

.width-jumbo {
    width: 90%;
}

.btn-blue {
    border-style: none;
    padding: 7px 20px;
    background-color: #0061ff;
    color: #ffffff;
}

.btn-big {
    font-size: 1.1rem;
}

.bg-lightblue {
    background-color: #b4d0e7;
}

h1 {
    font-size: 4rem;
}


/* HEADER */
/* Container Navbar */
.container-navbar {
    width: 100%;
    line-height: 50px;
    padding: 15px 25px;
}

.container-navbar ul li {
    list-style: none;
    display: inline;
    margin: 0 20px;
    vertical-align: middle;
}

.logo-container img {
    margin-right: 50px;
    vertical-align: middle;
}

.button-container button {
    margin-left: 20px;
}


/* Container Jumbotron */
.title-jumbo {
    padding-top: 70px;
    padding-bottom: 50px;
}

.text-jumbo {
    width: 30%;
    margin-right: 10%;
    padding-bottom: 10%;
}

.text-jumbo p {
    margin-bottom: 30px;
}

.text-jumbo button {
    margin-bottom: 10px;
}

.text-jumbo .fas {
    font-size: 2.5rem;
}

.img-jumbo {
    width: 50%;
    position: relative;
}

.img-jumbo img {
    width: 100%;
    position: absolute;
}



/* MAIN */
/* Container Plan Dropbox Business */
.container-jumbotron {

}


/* Container Partner*/
.container-partner {

}


/* Container Business Explain*/
.container-business-explain {

}


/* Container Team Che Utilizzano Dropbox*/
.container-team {

}


/* Container FAQ Domande Frequenti*/
.container-faq {

}



/* FOOTER */
/* Top Part Footer */
.top-footer {

}


/* Bottom Part Footer */
.bottom-footer {

}